/* External style sheet for all pages of Nathan Cloutier's personal website.*/

/*#region Mobile*/
.Container{
    background-color: lightblue;
    border: solid 2px black;
    padding: 10px px;
}

#Nav{
    display:grid;
    grid: 1fr/repeat(4,1fr);
    text-align:center;
    color:#bf404b;
}
/*#endregion Mobile*/